@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 

.font-pacifico{
  font-family: 'Open Sans', serif;
  font-size: 2rem;
  color:black
}

body{
  font-size: 12px;
}

.fontSize-10{
  font-size: 10px;
}